.city{
    height: 10%;
    background-color: gainsboro;
    padding: 0px 10px;
    margin: 10px;
    /*display: flex;*/
    font-size:20px;
    display: flex;
    flex-wrap:wrap;
}

footer{
    text-align: center;
    height: 10%;
    background-color: rgb(151, 150, 150);
    padding: 0px 10px;
    margin: 10px;
}

.title{
    text-align: center;
    height: 50px;
    background-color: rgb(5, 0, 0);
    margin: 10px;
 
}

select {
    font-size: .9rem;
    padding: 2px 5px;
    margin: 10px;
}

body{
font-size:10px;

}

h1{color: rgb(247, 244, 244)}

img{
   width: 150px;
   margin: 10% 10%;
}

@media screen and (max-width: 640px){
   .bloc{
      font-size:1rem;
      display: flex;
      flex-direction: row;
   }
   
   footer{
      font-size:1rem;
      display: flex;
      flex-direction: row
   }

   img{
      width: 40px;
   }

   .title{
      font-size:0.75rem;
   }
  
}
@media screen and (min-width: 640px){
   .bloc{
      font-size:1.5rem;
   }

   footer{
      font-size:1rem;
      display: flex;
      flex-direction: row
   }

   img{
      width: 100px;
   }

   foote

   .title{
      font-size:1.25rem;
   }

}


